* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.panel {
  height: 100vh;
}

.panel-w {
  background-color: white;
}

/* panel1 */

#panel1 {
  color: white;
  background-image: url("images/scanpoulette1stimage.png");
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

#panel1 h3 {
  font-size: 2em;
  position: absolute;
  top: 1em;
  left: 1em;
  opacity: 0.7;
}

#panel1 h1 {
  font-size: 8em;
  position: absolute;
  top: 2em;
  right: 0.5em;
  text-align: right;
}

#panel2 {
  color: white;
  font-family: "Titillium Web", sans-serif;
  position: relative;
}

#panel2 h3 {
  font-size: 2em;
  position: absolute;
  top: 2em;
  left: 4em;
  opacity: 0.7;
}

#panel2 h3 {
  font-size: 3em;
  position: absolute;
  top: 1em;
  left: 2em;
  opacity: 0.7;
}

#panel2 p {
  font-size: 2em;
  position: absolute;
  top: 6em;
  left: 2em;
  opacity: 0.7;
  text-align: center;
}

#panel2 img {
  filter: grayscale(90%);
  width: 60vw;
  height: 45vw;
  float: right;
  margin-top: 8em;
  margin-right: 4em;
  border: 2px solid white;
  box-shadow: 4px 4px 40px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: -4;
  opacity: 0.8;
}

#panel5 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #173e58;
  height: 65vh;
}

#panel6 {
  height: 90vh;
}

.techno-title {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 3em;
  text-align: center;
}

.techno-circle {
  display: flex;
  justify-content: space-evenly;
}

.techno-text {
  display: flex;
  justify-content: space-evenly;
}

.techno-text h4 {
  color: white;
  font-size: 2em;
}

.moncercle {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 2px solid #e04833;
}

.picto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picto img {
  max-width: 120px;
  height: 100px;
}

.text {
  font-size: 2em;
  color: white;
  padding-top: 35px;
}

.bottom-content {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
}

.barney-photo img {
  width: 500px;
}

.bottom-text {
  width: 459px;
  height: 188px;
  font-family: TitilliumWeb;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.1px;
  color: #161b39;
  padding-top: 200px;
}

.bottom-CTA {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.myButton {
  background-color: #ffffff;
  border: 2px solid #173e58;
  display: inline-block;
  cursor: pointer;
  color: #173e58;
  font-family: "Titillium Web", sans-serif;
  font-size: 17px;
  padding: 17px 53px;
  text-decoration: none;
}
.myButton:active {
  position: relative;
  top: 1px;
}

#love {
  color: crimson;
}

footer {
  color: white;
  text-align: center;
  padding: 2.5em;
  background-color: #173e58;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 769px) {
  #panel1 h1 {
    font-size: 4em;
    top: 6em;
  }
  #panel1 h3 {
    font-size: 1em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #panel1 h1 {
    font-size: 7em;
    top: 6em;
  }
  #panel1 h3 {
    font-size: 2em;
  }
}
