* {
  margin: 0;
  padding: 0;
}

body {
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffc0cb,
    #be8343
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc0cb,
    #be8343
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.panel {
  height: 100vh;
}

/* panel1 */

#panel1 {
  color: white;
  background-image: url("images/christian-wiediger-1210801-unsplash.jpg");
  background-size: cover;
  position: relative;
  opacity: 0.9;
}

#panel1 h3 {
  font-size: 2em;
  position: absolute;
  top: 1em;
  left: 1em;
  opacity: 0.7;
}

#panel1 h1 {
  font-size: 8em;
  position: absolute;
  top: 2em;
  right: 0.5em;
  text-align: right;
}

#panel2 {
  color: white;
  font-family: "Titillium Web", sans-serif;
  position: relative;
}

#panel2 h3 {
  font-size: 2em;
  position: absolute;
  top: 2em;
  left: 4em;
  opacity: 0.7;
}

#panel2 h3 {
  font-size: 3em;
  position: absolute;
  top: 1em;
  left: 2em;
  opacity: 0.7;
}

#panel2 p {
  font-size: 2em;
  position: absolute;
  top: 6em;
  left: 2em;
  opacity: 0.7;
  text-align: center;
}

#panel2 img {
  filter: grayscale(90%);
  width: 60vw;
  height: 45vw;
  float: right;
  margin-top: 8em;
  margin-right: 4em;
  border: 2px solid white;
  box-shadow: 4px 4px 40px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: -4;
  opacity: 0.8;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ...;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
